version: '3.0'

services:
  pihole:
    container_name: pihole
    image: ghcr.io/mariomare22/docker-pihole-unbound:latest
    hostname: ${HOSTNAME}
    domainname: ${DOMAIN_NAME}
    ports:
      - 53:53/tcp
      - 53:53/udp
      - ${PIHOLE_WEBPORT}:80/tcp #Allows use of different port to access pihole web interface when other docker containers use port 80

    environment:
      - PUID=1000
      - PGID=1000
      - FTLCONF_LOCAL_IPV4=${FTLCONF_LOCAL_IPV4}
      - TZ=${TZ}
      - WEBPASSWORD=${WEBPASSWORD}
      - REV_SERVER=${REV_SERVER:-false}
      - REV_SERVER_TARGET=${REV_SERVER_TARGET}
      - REV_SERVER_DOMAIN=${REV_SERVER_DOMAIN}
      - REV_SERVER_CIDR=${REV_SERVER_CIDR}
      - PIHOLE_DNS_=127.0.0.1#5335
      - DNSSEC=${DNSSEC}
      - DNSMASQ_LISTENING=single
    volumes:
      - ${pwd}/config/etc_pihole-unbound:/etc/pihole:rw
      - ${pwd}/config/pihole/etc_pihole_dnsmasq-unbound:/etc/dnsmasq.d:rw
      - ${pwd}/config/pihole/etc_unbound:/etc/unbound/unbound.conf.d/:rw
      - ${pwd}/config/pihole/hosts:/etc/hosts:rw
    restart: unless-stopped
